<div class="tool-item d-flex align-items-center border-bottom pb-3 mb-3">
  <div class="tool-icon flex-shrink-0 text-center mx-3">
    {{ partial "fmt_toolkit/tool-icon" . | chomp }}
  </div>

  <div class="tool-details flex-grow-1 ms-2">
    <h3>{{ .Title }}</h3>
    
    <div class="tool-summary mb-2">
      {{ .Params.description }}
    </div>
    
    <div class="resources">
      {{ .Scratch.Set "is_listed" true }}
      {{ partial "fmt_toolkit/tool-resources" . | chomp }}
    </div>
  </div>

</div>
