{{ define "main" }}

<main class="container">
  <article class="post-item row gx-5">
    <header class="post-header col-12 col-lg-8 offset-lg-4">
      <h2>{{ .Title }}</h2>
    </header>

    <aside class="col-12 col-lg-4 pr-5 pb-2 lh-lg">
      <div class="citation flex-grow-1 mb-3">
        {{ partial "fmt_toolkit/tool-icon" . }}
        {{ partial "fmt_toolkit/tool-citation" . | chomp }}
        <p><a href="{{ .Params.link }}" target="_blank" class="ext-link">{{ .Params.link }}</a></p>
      </div>
    </aside>

    <div class="col-12 col-lg-8">
      <div>
        {{ .Content | safeHTML }}
      </div>
    </div>

  </article>
</main>
{{ end }}
